<% if current_user.is_admin %>
  <h3>Лицензии <%= @user.name %></h3>
<% else %>
  <h3>Ваши лицензии</h3>
<% end -%>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Адрес</th>
      <th>Количество машин</th>
      <th>Разрешёные опции</th>
      <th>Срок действия лицензии</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% licenses.each do |license| %>
      <tr>
        <td><%= license.name %></td>
        <td><%= license.addres %></td>
        <td><%= license.license_count %></td>
        <td><%= license.license_restrict %></td>
        <td><%= license.term_of_license %></td>
        <td><%= button_to 'Show', license_path(license.name), method: :get, class: "btn btn-primary" %></td>
        <td><%= button_to 'Edit', edit_license_path(license.name), method: :get, class: "btn btn-primary" if current_user.is_admin %></td>
        <td><%= button_to 'Destroy', license, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } if current_user.is_admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.is_admin %>
  <%= button_to  'Создать лицензию', new_user_license_path(@user), method: :get, class: "btn btn-primary" %>
<% end -%>
