<%= form_for(:user, url: user_registration_path) do |f| %>

<div class="form-group">
  <%= f.label :Имя_Пользователя, class: 'col-md-2 col-form-label'%>
  <div class="col-md-10"><%= f.text_field :name, id: :loginname, placeholder: "Желаемое имя для входа", class: "form-control" %></div>
</div>
<div class="form-group">
       <%= f.label :Электронная_почта, class: 'col-md-2 col-form-label'%>
  <div class="col-md-10"><%= f.email_field :email, placeholder: "Почта", autofocus: true, autocomplete: "email", class: "form-control" %></div>
</div>

<div class="form-group">
       <%= f.label :Имя, class: 'col-md-2 col-form-label'%>
       <div class="col-md-10"><%= f.text_field :f_name, placeholder: "Ваше имя", autofocus: true, autocomplete: "email", class: "form-control" %></div>
</dev>
<div class="form-group">
       <%= f.label :Фамилия, class: 'col-md-2 col-form-label'%>
       <div class="col-md-10"><%= f.text_field :l_name, placeholder: "Ваша фамилия", autofocus: true, autocomplete: "email", class: "form-control" %></div>
</div>
<div class="form-group">
  <%= f.label :Пароль, class: 'col-md-2 col-form-label'%>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <div class="col-md-10"><%= f.password_field :password,placeholder: "Ваш пароль", autocomplete: "off", class: "form-control" %></div>
</div>
<div class="form-group">
  <%= f.label :Подтверждение_пароля, class: 'col-md-2 col-form-label'%><br />
  <div class="col-md-10"><%= f.password_field :password_confirmation,placeholder: "Повторите пароль", autocomplete: "off", class: "form-control" %></div>
</div>
<div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-10">
  <%= f.submit "РЕГИСТРАЦИЯ", class: 'btn btn-primary btn-sm' %>
  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">ОТМЕНА</button>
</div>
</div>
</div>
<%end%>