<style>
  .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
</style>
<div class="vertical-center" cz-shortcut-listen="true">
<aside class="d-block mx-auto col-sm-4">
  <h3 class="h3 mb-3 font-weight-normal" >Сменить мой пароль</h3>
    <div class="card">
    <article class="card-body">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Новый пароль" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> символов минимум)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Подтвердить" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Сменить мой пароль" %>
  </div>
<% end %>
</article>
</div>
</aside>
</div>
<%= render "devise/shared/links" %>
