<div class="d-block mx-auto col-sm-4">
	<div class="card">
		<p class="card-header"><b><%= @sp.name %></b></p>
		<p><b>Цена:</b><%= @sp.price %></p>
		<p><b>Примечание: </b><%=raw @sp.description%></p>
    </div>
    <%= link_to 'Edit', edit_sp_path(@sp) %> |
<%= link_to 'Back', sps_path %> |
<%= link_to 'Taryph', taryphs_path %>|
<%= link_to 'Root', root_path %>

</div>

