    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"  id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">#НашКомпьютер</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">МЕНЮ
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% flash.each do |name, msg| %>
                <%= content_tag(:li, msg, class: "nav-item alert alert-info") %>
            <% end %>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#pochemu">Почему #НашКомпьютер?</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#taryph">Тарифы</a>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#preorder">Предзаказ</a>
            </li>
            <% end %>
            <% if user_signed_in? %>
            <li class="nav-item mx-0 mx-lg-1">
			<a><%= button_to "Выход", destroy_session_path(:user), method: :delete, class: 'btn btn-outline-info my-2 my-sm-0 mx-auto py-3 px-0 px-lg-3', style: "color:#18bc9c;"  %></a>
			</li>
			<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color:#18bc9c;" href="/users/<%=@user._id.to_s%>"><%= ":#{@user.name}" %></a>
			<% else %>
			<li class="nav-item mx-0 mx-lg-1">
			<button class="btn btn-outline-info my-2 my-sm-0 mx-auto py-3 px-0 px-lg-3" style="color:#18bc9c;" data-toggle="modal" data-target="#myModal">Вход/Регистрация</button>
		    </li>
			<% end %>
          </ul>
        </div>
      </div>
    </nav>




<div class="modal fade" id="myModal" tabindex="-1"
role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title" id="myModalLabel">Вход/Регистрация</h4>
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#xD7;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active nav-item"><a href="#Login" data-toggle="tab" class="nav-link">Логин</a>
                            </li>
                            <li class="nav-item"><a href="#Registration" data-toggle="tab" class="nav-link">Регистрация</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Login">
                                <%= render file: "devise/sessions/new2.html.erb"  %>
                            </div>
                            <div class="tab-pane" id="Registration">
                                <%= render file: "devise/registrations/new2.html.erb"  %>
                            </div>
                        </div>
                        <div id="OR" class="hidden-xsd-none d-sm-block">ИЛИ</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row text-center sign-with">
                            <div class="col-lg-12">
                                 <h3>

                                    Вход через</h3>
                            </div>
                            <div class="col-lg-12">
                                <div class="btn-group btn-group-justified"> <a href="#" class="btn btn-primary">Facebook</a>  <a href="#" class="btn btn-danger">

                                        Google</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
